body{
    background-color: rgb(131, 27, 230);
    color: rgb(2, 2, 2);
    border: 3px solid black ;
    padding: 23px ;
    margin: 34px;
    background-image:url(https://posterjack.ca/cdn/shop/articles/landscape_photography_tips_featured_image.jpg?v=1563408049&width=800);
}